---
name: Verify

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main

defaults:
  run:
    shell: bash

# in 2025 macos-latest is macos-15 and macos-13 is about to retire
jobs:
  test:
    strategy:
      matrix:
        os:
          - macos-14
          - macos-latest
          - windows-latest
          - ubuntu-latest

    runs-on: ${{matrix.os}}

    env:
      RUSTFLAGS: --deny warnings

    steps:
    - uses: actions/checkout@v4

    - name: Remove Broken WSL bash executable
      if: ${{ matrix.os == 'windows-latest' }}
      shell: cmd
      run: |
        takeown /F C:\Windows\System32\bash.exe
        icacls C:\Windows\System32\bash.exe /grant administrators:F
        del C:\Windows\System32\bash.exe

    - uses: Swatinem/rust-cache@v2

    - uses: extractions/setup-just@v1

    - name: Check just version
      run: just --version

    - name: Install cargo-audit
      run: cargo install cargo-audit --locked

    - name: Test with just check
      run: just check
